.our-blog{
  height: auto;
  padding-top: 100px;
}

.our-block-body{
  width: 970px;
  height: inherit;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}
.our-blog__title{
  font-size: 30px;
  margin: 0px auto 50px auto;
}

.our-blog__text{
  margin: 0 auto 100px 0;
  font-size: 16px;
}

.our-blog-content__row,
.our-blog-content__statistic,
.our-blog-content-statistic__user,
.our-blog-content-statistic__comments,
.our-blog-content-statistic__views{
  display: flex;
  text-align: left;
}
.our-blog-content-statistic__user,
.our-blog-content-statistic__comments,
.our-blog-content-statistic-views__img{
  margin-right: 15px;
}
.our-blog-content-statistic-user__img,
.our-blog-content-statistic-comments__img,
.our-blog-content-statistic-views__img{
  height: 20px;
  width: 20px;
  background-image: url(../img/our-blog/user.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.our-blog-content-statistic-user__img:hover{
  background-image: url(../img/our-blog/user-hover.png);
  cursor: pointer;
}
.our-blog-content-statistic-comments__img:hover{
  background-image: url(../img/our-blog/comment-hover.png);
  cursor: pointer;
}
.our-blog-content-statistic-views__img:hover{
  background-image: url(../img/our-blog/view-hover.png);
  cursor: pointer;
}

.our-blog-content-statistic-user__text,
.our-blog-content-statistic-comments__text,
.our-blog-content-statistic-views__text{
  line-height: 20px;
}
.our-blog-content-statistic-comments__img{
  background-image: url(../img/our-blog/comment.png);
}
.our-blog-content-statistic-views__img{
  background-image: url(../img/our-blog/view.png);
}
.logo,
.logo-car{
  width: 550px;
  height: 200px;
  background-image: url(../img/our-blog/1.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 30px;
}
.logo-car{
  background-image: url(../img/our-blog/2.png);
}
.our-blog-content__title{
  font-size: 20px; 
}
.our-blog-content__statistic{
  margin: 15px 0 15px 0;
}
.our-blog-content__text{
  margin-bottom: 32px;
}
.our-blog-content__more{
  width: 120px;
  height: 40px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #262626;
  line-height: 40px;
}
.our-blog-content__more:hover{
  background-color: #ff0036;
}
.our-blog-content__row{
  margin-bottom: 40px;
}
.load-more{
 background-image: url(../img/our-blog/arrow.png);
 background-repeat: no-repeat;
 background-position: center;
 margin: auto;
 height: 44px;
 width: 50px;
}
.our-blog-content-column__front{
  height: inherit;
}
.our-blog-content__row:hover .our-blog-content-column__front{
  background-image: url(../img/our-blog/hover.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.load-more:hover{
  cursor: pointer;
  background-image: url(../img/our-blog/arrow-hover.png);
}
@media screen and (max-width:975px){
  .our-block-body{
    width: auto;
  }
}

@media screen and (max-width:768px){
  .our-blog-content__row{
    flex-direction: column;
    text-align: center;
  }
  .our-blog-content__column,
  .our-blog-content__more{
    margin: auto;
    
  }
  .our-blog-content__statistic{
    justify-content: center;
  }
  .our-blog-content__title{
    margin-top: 20px;
  }
  .logo,
  .logo-car{
    width: 310px;
  }
}